[Global]
cluster-id = "{{ cluster_id }}"

[VirtualCenter "{{ vcenter_hostname }}"]
insecure-flag = "true"
user = "{{ vcenter_username }}"
password = "{{ vcenter_password }}"
port = "443"
datacenters = "{{ vcenter_datacenter }}"
